[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
thoth-storages = ">=0.49.0"
thoth-common = "*"
prometheus-client = "*"

[dev-packages]

[requires]
python_version = "3.8"
